.notification-bar
{
    display        : none;
    font-family    : Verdana, Geneva, sans-serif;
    height         : 53px;
    line-height    : 53px;
    text-align     : center;
    vertical-align : middle;
}
