body
{
    background  : #fff;
    color       : #798a9a;
    font-size   : 16px;
    font-weight : 300;
    line-height : 1.7;
}

.p1-gradient-bg, .thumb .overlay-bg
{
    background : -moz-linear-gradient(0deg, #8490ff 0%, #62bdfc 100%);
    background : -webkit-linear-gradient(0deg, #8490ff 0%, #62bdfc 100%);
    background : -ms-linear-gradient(0deg, #8490ff 0%, #62bdfc 100%);
}

.p1-gradient-color
{
    background              : -moz-linear-gradient(0deg, #8490ff 0%, #62bdfc 100%);
    background              : -webkit-linear-gradient(0deg, #8490ff 0%, #62bdfc 100%);
    background              : -ms-linear-gradient(0deg, #8490ff 0%, #62bdfc 100%);
    -webkit-background-clip : text;
    -webkit-text-fill-color : transparent;
}

::-moz-selection
{
    background : #000;
    color      : #fff;
}

::selection
{
    background : #000;
    color      : #fff;
}

::-moz-selection
{
    background : #000;
    color      : #fff;
}

h1, h2, h3, h4, h5
{
    color       : #2c3e50;
    font-weight : 200;
}

a
{
    color              : #007bff;
    -o-transition      : .3s all;
    -webkit-transition : .3s all;
    transition         : .3s all;
}

a:hover, a:focus, a:active
{
    color           : #4ebe2a;
    text-decoration : none;
}

.parent-nav-link-padding, .site-navbar .navbar-nav > li > a
{
    padding : 15px 20px !important;
}

.site-navbar
{
    background         : none;
    background         : #fff;
    border             : none;
    border-radius      : 0;
    -webkit-box-shadow : none;
    box-shadow         : none;
    margin-bottom      : 0;
    position           : absolute;
    top                : 20px;
    width              : 100%;
    z-index            : 200;
}

.site-navbar .navbar-brand
{
    border         : 2px solid #fff;
    color          : #fff;
    display        : inline-block;
    letter-spacing : .2em;
    padding        : 5px 20px;
    text-transform : uppercase;
}

.site-navbar .navbar-brand:hover
{
    color : #fff;
}

.site-navbar.bg-light
{
    background : transparent !important;
}

@media (max-width : 992px)
{
    .site-navbar.bg-light
    {
        background : #fff !important;
        top        : 0;
    }

    .site-navbar.bg-light .navbar-brand
    {
        border    : 2px solid #000;
        color     : #000;
        display   : inline-block;
        font-size : 18px;
        padding   : 2px 10px !important;
    }
}

.site-navbar .navbar-nav > li > a
{
    color          : #fff !important;
    font-size      : 14px;
    font-weight    : 400;
    letter-spacing : .2em;
    position       : relative;
    text-transform : uppercase;
}

@media (max-width : 992px)
{
    .site-navbar .navbar-nav > li > a
    {
        color : rgba(0, 0, 0, 0.7) !important;
    }
}

.site-navbar .navbar-nav.active > a
{
    color : #007bff !important;
}

.site-navbar.scrolled
{
    background         : #fff;
    -webkit-box-shadow : 0 1px 3px 0 rgba(0, 0, 0, 0.09);
    box-shadow         : 0 1px 3px 0 rgba(0, 0, 0, 0.09);
    left               : 0;
    position           : fixed;
    right              : 0;
    top                : 0;
    -ms-transform      : translateY(-100%);
    -webkit-transform  : translateY(-100%);
    transform          : translateY(-100%);
    width              : 100%;
}

.site-navbar.scrolled.bg-light
{
    background : #fff !important;
}

.site-navbar.scrolled .navbar-brand
{
    border    : 2px solid #000;
    display   : inline-block;
    font-size : 18px;
    padding   : 2px 10px !important;
}

.site-navbar.scrolled.awake, .site-navbar.scrolled.sleep
{
    -o-transition      : .3s all ease;
    -webkit-transition : .3s all ease;
    transition         : .3s all ease;
}

.site-navbar.scrolled.awake
{
    background        : #fff !important;
    -ms-transform     : translateY(0%);
    -webkit-transform : translateY(0%);
    transform         : translateY(0%);
}

.site-navbar.scrolled.sleep
{
    background        : #007bff !important;
    -ms-transform     : translateY(-90%);
    -webkit-transform : translateY(-90%);
    transform         : translateY(-90%);
}

.site-navbar.scrolled .navbar-brand
{
    color : #000;
}

.site-navbar.scrolled .dropdown > a:before
{
    color : rgba(0, 0, 0, 0.4);
}

.site-navbar.scrolled .navbar-nav > li > a
{
    color : rgba(0, 0, 0, 0.7) !important;
}

.site-navbar.scrolled .navbar-nav > li > a:hover
{
    color : #007bff !important;
}

.site-navbar.scrolled .navbar-nav > li > a.active
{
    color : #007bff !important;
}

.site-navbar.scrolled .navbar-nav > li.active > a
{
    color : #007bff !important;
}

.tlinks
{
    font-size   : 0;
    height      : 0;
    line-height : 0;
    overflow    : hidden;
    text-indent : -9999px;
}

.site-hero
{
    background-color    : #ccc;
    background-position : center center;
    background-repeat   : no-repeat;
    background-size     : cover;
    overflow            : hidden;
    position            : relative;
}

.site-hero, .site-hero .row
{
    height     : 100vh;
    min-height : 800px;
}

.site-hero:before
{
    background : rgba(0, 0, 0, 0.5);
    bottom     : 0;
    content    : "";
    left       : 0;
    position   : absolute;
    right      : 0;
    top        : 0;
    width      : 100%;
}

.site-hero h1
{
    display       : block;
    font-weight   : 200;
    margin-bottom : 20px;
}

.site-hero h1 strong
{
    font-weight : 800;
}

@media (min-width : 768px)
{
    .site-hero h1
    {
        font-size : 70px;
    }
}

.site-hero h1, .site-hero .lead
{
    color       : #fff;
    font-weight : 200;
}

.site-hero .lead
{
    line-height : 2;
}

.site-hero .site-subheading
{
    color     : rgba(255, 255, 255, 0.5);
    margin    : 0 auto;
    max-width : 640px;
}

.site-section
{
    padding : 5em 0;
}

.section-heading
{
    margin-bottom : 30px;
    position      : relative;
    z-index       : 10;
}

.section-heading h2
{
    font-size   : 30px;
    font-weight : 200;
    padding-top : 20px;
    position    : relative;
}

.section-heading h2 strong
{
    font-weight : 800;
}

.section-heading h2:before
{
    background : #007bff;
    content    : "";
    height     : 2px;
    left       : 0;
    position   : absolute;
    top        : 0;
    width      : 50px;
    z-index    : -1;
}

.section-heading.text-center h2:before
{
    left              : 50%;
    -ms-transform     : translateX(-50%);
    -webkit-transform : translateX(-50%);
    transform         : translateX(-50%);
}

.lead
{
    font-weight : 200;
    line-height : 1.5;
}

.site-service-item .icon
{
    background    : #007bff;
    border-radius : 50%;
    display       : block;
    height        : 100px;
    margin        : 0 auto 50px;
    position      : relative;
    width         : 100px;
}

.site-service-item .icon span
{
    color             : #080b0e;
    font-size         : 40px;
    left              : 50%;
    position          : absolute;
    top               : 50%;
    -ms-transform     : translate(-50%, -50%);
    -webkit-transform : translate(-50%, -50%);
    transform         : translate(-50%, -50%);
}

.site-service-item h3
{
    font-size   : 20px;
    font-weight : 200;
}

.site-link
{
    position : relative;
}

.site-link i
{
    position           : relative;
    top                : 2px;
    -o-transition      : .3s all ease;
    -webkit-transition : .3s all ease;
    transition         : .3s all ease;
}

.site-link:hover i
{
    margin-left : 20px;
    position    : relative;
}

.site-list
{
    margin  : 0;
    padding : 0;
}

.site-list li
{
    list-style : none;
    margin     : 0 0 10px 0;
    padding    : 0;
    position   : relative;
}

.site-list li:before
{
    font-family : 'icomoon', fantasy;
    left        : 0;
    position    : absolute;
    top         : .1em;
}

.site-list li.site-check
{
    padding-left : 30px;
}

.site-list li.site-check:before
{
    color     : #007bff;
    content   : "\ebd3";
    font-size : 16px;
}

.btn
{
    border-radius  : 100px;
    letter-spacing : .1em;
    text-transform : uppercase;
}

.btn:active, .btn:focus
{
    -webkit-box-shadow : none !important;
    box-shadow         : none !important;
    outline            : none;
}

.btn.btn-primary
{
    color : #fff;
}

.btn.btn-primary:hover, .btn.btn-primary:active, .btn.btn-primary:focus
{
    background : #4ebe2a;
}

.progress
{
    height        : 4px;
    margin-bottom : 26px;
    overflow      : visible;
}

.progress .progress-bar
{
    background-color : #007bff;
    border-radius    : 4px;
    position         : relative;
}

.progress .progress-bar span
{
    background-color : #007bff;
    border-radius    : 2px;
    bottom           : -20px;
    font-size        : 10px;
    line-height      : 10px;
    padding          : 2px 3px 2px 4px;
    position         : absolute;
    right            : -1.4em;
}

.progress .progress-bar span:after
{
    border-bottom-color : #007bff;
    border-color        : rgba(255, 255, 255, 0);
    border-width        : 5px;
    bottom              : 100%;
    content             : " ";
    height              : 0;
    left                : 50%;
    margin-left         : -5px;
    pointer-events      : none;
    position            : absolute;
    width               : 0;
}

.skill h3
{
    font-size : 18px;
}

.filters
{
    text-align : center;
}

.filters ul
{
    margin  : 0 0 30px 0;
    padding : 0;
}

.filters ul li
{
    cursor             : pointer;
    display            : inline-block;
    padding            : 20px;
    -o-transition      : .3s all ease;
    -webkit-transition : .3s all ease;
    transition         : .3s all ease;
}

.filters ul li:hover
{
    color : #007bff;
}

.filters ul li.active
{
    color : #007bff;
}

.single-portfolio
{
    display       : block;
    margin-bottom : 50px;
}

.single-portfolio .relative
{
    margin-bottom : 20px;
}

.single-portfolio .p-inner
{
    text-align : center;
}

.single-portfolio .p-inner h4
{
    font-size : 20px;
}

.single-portfolio .p-inner .cat
{
    color          : #cccccc;
    font-size      : 12px;
    text-transform : uppercase;
}

/*--------- Start Portfolio Area -------------*/
.portfolio-area .primary-btn
{
    background-color : #007bff;
    color            : #fff;
    margin-left      : auto;
    margin-right     : auto;
}

.portfolio-area .filters
{
    text-align : center;
}

.portfolio-area .filters ul
{
    padding : 0;
}

.portfolio-area .filters ul li
{
    color          : #000;
    cursor         : pointer;
    display        : inline-block;
    font-size      : 12px;
    font-weight    : 500;
    list-style     : none;
    padding        : 18px 15px;
    position       : relative;
    text-transform : uppercase;
}

@media (max-width : 736px)
{
    .portfolio-area .filters ul li
    {
        padding : 6px 6px;
    }
}

.portfolio-area .filters ul li:after
{
    background         : #333;
    content            : "";
    display            : block;
    height             : 2px;
    position           : absolute;
    -o-transition      : width 350ms ease-out;
    -webkit-transition : width 350ms ease-out;
    transition         : width 350ms ease-out;
    width              : calc(0% - 60px);
}

.portfolio-area .filters ul li:hover:after
{
    -o-transition      : width 350ms ease-out;
    -webkit-transition : width 350ms ease-out;
    transition         : width 350ms ease-out;
    width              : calc(100% - 60px);
}

.portfolio-area .filters ul li.active
{
    color : #007bff;
}

.portfolio-area .filters-content
{
    margin-top : 50px;
}

.portfolio-area .filters-content .show
{
    opacity            : 1;
    -o-transition      : all 350ms;
    -webkit-transition : all 350ms;
    transition         : all 350ms;
    visibility         : visible;
}

.portfolio-area .filters-content .hide
{
    opacity            : 0;
    -o-transition      : all 350ms;
    -webkit-transition : all 350ms;
    transition         : all 350ms;
    visibility         : hidden;
}

.portfolio-area .filters-content .item
{
    cursor        : pointer;
    margin-bottom : 30px;
    text-align    : center;
}

.portfolio-area .filters-content .item img
{
    border-radius : 10px;
}

.portfolio-area .filters-content .p-inner
{
    padding    : 20px 0;
    text-align : center;
}

.portfolio-area .filters-content .item .p-inner .cat
{
    font-size : 13px;
}

.portfolio-area .filters-content .item img
{
    width : 100%;
}

.image
{
    -webkit-backface-visibility : hidden;
    backface-visibility         : hidden;
    display                     : block;
    height                      : 100%;
    opacity                     : 1;
    -o-transition               : .5s ease;
    -webkit-transition          : .5s ease;
    transition                  : .5s ease;
    width                       : 100%;
}

.middle
{
    left               : 50%;
    opacity            : 0;
    position           : absolute;
    text-align         : center;
    top                : 50%;
    -ms-transform      : translate(-50%, -50%);
    -webkit-transform  : translate(-50%, -50%);
    transform          : translate(-50%, -50%);
    -o-transition      : .5s ease;
    -webkit-transition : .5s ease;
    transition         : .5s ease;
}

.single-portfolio:hover .middle
{
    opacity : 1;
}

.text
{
    color     : white;
    font-size : 25px;
    padding   : 16px 32px;
}

.single-portfolio
{
    border-radius : 5px;
}

.single-portfolio:hover .thumb .overlay-bg
{
    opacity : .85;
}

.thumb .overlay-bg
{
    border-radius      : 5px;
    opacity            : 0;
    -o-transition      : all 0.2s ease-in-out;
    -webkit-transition : all 0.2s ease-in-out;
    transition         : all 0.2s ease-in-out;
}

@media screen and (prefers-reduced-motion : reduce)
{
    .thumb .overlay-bg
    {
        -o-transition      : none;
        -webkit-transition : none;
        transition         : none;
    }
}

.resume-item
{
    background         : #fff;
    border             : 4px solid transparent;
    padding            : 40px;
    -o-transition      : .3s all ease;
    -webkit-transition : .3s all ease;
    transition         : .3s all ease;
}

.resume-item:hover, .resume-item:focus
{
    border             : 4px solid #007bff;
    -webkit-box-shadow : 0 10px 20px -10px rgba(0, 0, 0, 0.1);
    box-shadow         : 0 10px 20px -10px rgba(0, 0, 0, 0.1);
}

.resume-item .date
{
    color          : #b3bdc6;
    display        : block;
    font-size      : 12px;
    letter-spacing : .1em;
    margin-bottom  : 10px;
    text-transform : uppercase;
}

.resume-item .school
{
    display   : block;
    font-size : 20px;
}

.resume-item h3, .resume-item .school
{
    color : #2c3e50;
}

.blog-entry
{
    -webkit-box-shadow : 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    box-shadow         : 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    position           : relative;
    top                : 0;
    -o-transition      : .3s all ease;
    -webkit-transition : .3s all ease;
    transition         : .3s all ease;
}

.blog-entry:hover, .blog-entry:active, .blog-entry:focus
{
    -webkit-box-shadow : 0 5px 50px -10px rgba(0, 0, 0, 0.1);
    box-shadow         : 0 5px 50px -10px rgba(0, 0, 0, 0.1);
    top                : -2px;
}

.blog-entry .blog-entry-text
{
    border-top : none;
    padding    : 30px;
}

.blog-entry .blog-entry-text h3
{
    font-size     : 20px;
    line-height   : 1.5;
    margin-bottom : 10px;
}

.blog-entry .blog-entry-text h3 a
{
    color : #2c3e50;
}

.blog-entry .blog-entry-text h3 a:hover
{
    color : #007bff;
}

.blog-entry .meta
{
    font-size : 14px;
}

.blog-entry .meta a
{
    color        : #96a3b0;
    display      : inline-block;
    margin-right : 10px;
}

.blog-entry .meta a:hover
{
    color : #007bff;
}

.form-control
{
    border             : none !important;
    -webkit-box-shadow : 0 1px 2px 0 rgba(0, 0, 0, 0.1) !important;
    box-shadow         : 0 1px 2px 0 rgba(0, 0, 0, 0.1) !important;
}

.site-form .form-control
{
    border : 1px solid #b3bdc6;
}

.site-contact-details, .site-contact-details li
{
    margin  : 0;
    padding : 0;
}

.site-contact-details li
{
    list-style    : none;
    margin-bottom : 20px;
}

.site-contact-details li > span
{
    color          : #2c3e50;
    display        : block;
    font-size      : 12px;
    font-weight    : 500;
    letter-spacing : .1em;
    margin-bottom  : 5px;
}

.site-footer
{
    padding : 3em 0;
}

.site-footer p:last-child
{
    margin-bottom : 0;
}

.site-footer .social-item
{
    border        : 1px solid #b3bdc6;
    border-radius : 50%;
    display       : inline-block;
    font-size     : 22px;
    height        : 60px;
    margin        : 0 10px;
    position      : relative;
    width         : 60px;
}

.site-footer .social-item > span
{
    left              : 50%;
    position          : absolute;
    top               : 50%;
    -ms-transform     : translate(-50%, -50%);
    -webkit-transform : translate(-50%, -50%);
    transform         : translate(-50%, -50%);
}

.block-47 .block-47-image
{
    -webkit-box-flex : 0;
    display          : block;
    -ms-flex         : 0 0 70px;
    flex             : 0 0 70px;
}

.block-47 .block-47-image img
{
    border             : 5px solid #fff;
    border-radius      : 50%;
    -webkit-box-shadow : 0 2px 10px 0px rgba(0, 0, 0, 0.2);
    box-shadow         : 0 2px 10px 0px rgba(0, 0, 0, 0.2);
}

.block-47 .block-47-quote
{
    background         : #fff;
    border-radius      : 7px;
    -webkit-box-shadow : 0 2px 30px -2px rgba(0, 0, 0, 0.1);
    box-shadow         : 0 2px 30px -2px rgba(0, 0, 0, 0.1);
    margin-left        : 40px;
    padding            : 30px;
    position           : relative;
}

.block-47 .block-47-quote:before
{
    border-color : transparent #fff transparent transparent;
    border-style : solid;
    border-width : 0 20px 20px 0;
    content      : "";
    left         : -15px;
    position     : absolute;
    z-index      : 2;
}

.block-47 .block-47-quote .block-47-quote-author
{
    color     : #666666;
    font-size : 14px;
}

.btn-blog
{
    transform : scale(1);
}
